body {
    /* background: linear-gradient(to right, #ffffff, #cf91a7, #ff0157); */
    font-family: 'Poppins', sans-serif;
}

#form {
    width: 400px;
    margin: 20vh auto 0 auto;
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 14px;
}

#form h1 {
    color: #0d3d52;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: #ff0157;
    border: #2c5364;
    
    border-radius: 4px;
}

#form button:hover{
 
    background-color: #6c2b3c;

}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #c46276;
}

.input-control .error {
    color: #ff3860;
    font-size: 10px;
    height: 13px;
}